<style>
  .container{
    width: 100%;
    max-width: initial;
  }
  .parallax-container {
    min-height: 800px;
    height: auto;
  }
</style>


<div class="parallax-container">
  <div class="parallax parallax-container"><img src="<%= asset_path('guy.jpg')%>"></div>

  <div class="oval-menu">
    <a class='dropdown-button' href='#' data-activates='dropdown1'>Menu</a>
  </div>
  <ul id='dropdown1' class='dropdown-content navbar-color'>
    <% if current_user %>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <li><%= link_to "My Profile", current_user %> </li>
      <% if current_user.admin %>
        <li><%= link_to "All Users List", users_path %></li>
      <% else %>
        <li><%= link_to "My Games", root_path %> </li>
      <% end %>
    <% else %>
      <li><%=link_to "Sign In", new_user_session_path %></li>
      <li><%=link_to "Sign Up", new_user_registration_path %></li>
    <% end %>
  </ul>

    <div id="app">React
    </div>

    <div class="oval-right-bottom">
      <%=link_to "© 2017 Greg Nalehach", "http://gregnalehach.com" %>
    </div>
</div>



 <script>
   $('.parallax').parallax();
 </script>
